name: Documentation

on:
  push:
    branches:
      - 'main'
    tags: '*'
    paths-ignore:
      - '.github/workflows/ci.yml'
  pull_request:
    paths-ignore:
      - '.github/workflows/ci.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x' # see also https://github.com/actions/setup-python
      - name: Install dependencies
        run: |
          sudo apt-get install graphviz
          sudo pip install ford
      - name: Build
        run: ford Docs/FTObjectLibraryProject.md
      - name: Deploy
        if: github.ref == 'refs/heads/main' # Only run on main
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_key: ${{ secrets.FORD_DOCUMENTATION_KEY }}
          publish_dir: ./Docs/HTMLdocs
